doctype html

html
	head
		meta(charset='UTF-8')
		title fuck #{name}
		//- link(rel='stylesheet' herf='css')
	body
		h1 gg
		block c
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js")
		script(src='/fjs.js')
